
    .container-header{
        margin-left:0;
        margin-top:0px;
        width: 100%;   
        height: 100%;
    }
    
.title-header{
    font-size: 10px;
    text-align: center;
}
.nav-bar_left{
    z-index: 10;
    background-color:var(--color-h);
    border-top:1px solid #000;
    border-right: 1px solid #666;
    float:left;
    padding:0;
    width: 20%;
    height:443px;
    
}

.nav-bar_left a, .nav-bar_left span {

    margin-top:20px;
    margin-left:0;
    font-size: 10px;
}
.subtitle-web{
    margin-left:0;
    width: 100%; 
    font-size: 15px;
    padding:5px;
}

.logo{
    width: 20px;
    float:right;
    margin-right:0px;
    margin-top :0px;
}
section{
    font-size:10px;
 }
 
 section > p,section>h2 {
     width: 100%;
     margin-left:0;
 }

 
 section h2{
     margin-top:15px;
     color:var(--color-h);
 }
 section>article{
     width: 100%;
     margin-left:0;
 }
 
 article> h4{
     margin-top:10px;
     color:var(--color-h);
 }

.paragraph{
    margin-left:0;
    width: 100%;
}
/*RULES STYLE*/
.rules-header{
    font-size: 12px;
    gap: 0.3rem;
}

.list-rules{
    background-color: #ddd;
    margin-top:15px;
    padding:5px;
   border:1px solid black;
   border-radius: 10px;
   font-size: 10px;
}

.list-rules dt:nth-child(n+1){
    margin-top:15px;
}
.list-rules dd{
    margin-top:10px;
    text-indent: 20px;
}

.list-rules ol{
    margin-top:15px;
    padding:0 10px;

}



.list-rules ul{
    margin-top:10px;
    margin-left:25px;
}
/*------------------------------------*/
/* Estilos games */
.header-games{
    font-size:10px;
    width: 550px;
    text-align: center;
   border:1px solid black;
   margin-top: 5px;
   background-color: #a8b;
   box-shadow: 2px 1px 0 0 ;
   color: #333;
}
.main-games,.main-rules{
    width: 100%;
    margin:0 auto;
    }
.subtitles-games{
    box-shadow: 2px 1px;
        padding:15px;
        font-size: 10px;
        font-weight: bold;
        width: 550px;
        text-align: center;
    }
.subtitles-games p:nth-child(2){
   
    margin-top:10px;
    text-decoration: underline;
    font-style: italic;
    text-align: center;
}
iframe{
    width: 150px;
    height: 100px;
    
}
table{
    text-align:center;
    width: 100px;
       
}

table caption{
    margin-top:10px;
    font-size:10px;
    letter-spacing: 3px;
    font-weight: bolder;
}

table th{
    background-color: #aaa;
    padding:10px;
    font-style:italic;
    font-size: 10px;
}

table th:hover ~ td{
  text-decoration: underline;
  font-style: italic;
  border-bottom:3px solid #000;
}



table tr{

    background-color:#a87;
    font-weight: bold;
    font-size:10px;

}

tr:nth-child(even){
  background-color:#b9a;  
}


tbody tr td:nth-child(5){
    padding:0;
    height: 110px;
    width: 310px;
    display: flex;
    flex-direction: row;
    justify-content: start;


}

tbody tr td:nth-child(3){
    width: 30px;
   }
   

tbody tr td:nth-child(5) h4{
 position:absolute;
 font-size: 10px;
}


tbody tr td:nth-child(5) h4:nth-child(3){
    position:absolute;
    font-size: 10px;
    color:red;
     left: 510px;
   }

   footer{
    width: 610px;
    font-size: 10px;
    flex-direction: column;
    gap:0.8rem;
    padding-left:10px;
}

.more-info{
    font-size: 12px;
    gap:0.9rem;
    padding-left:10px;
}
.more-info p {
    width: 100%;
}

/*--------------------------------------------*/
#title{
    text-align:center;
    padding-left:25px;
}

.registration-form{
    width: 90%;
    padding-left:0px;
}
.registration-form input{
    width: 250px;
}
label{
    padding-right:100px ;
    
}

#street-address{
    width: 250px;
}
#city{
    width: 250px;
}

#zip-code{
    width: 250px;
}

.registration-form fieldset:nth-child(7) label:nth-child(1), .registration-form fieldset:nth-child(8) label:nth-child(1){
    display: block;
}

.registration-form fieldset:nth-child(7) label:nth-child(n+2), .registration-form fieldset:nth-child(8) label:nth-child(n+2){

padding-right: 5px;
padding-left:10px;
}

.registration-form fieldset:nth-child(9),.registration-form fieldset:nth-child(10),.registration-form fieldset:nth-child(11){
height: 210px;
flex-direction: column;

}

.registration-form fieldset:nth-child(10){
    height: 100px;
}
.registration-form fieldset:nth-child(12) input{
    margin-top:15px;
}

.registration-form fieldset:nth-child(12) label{
   padding-right:5px;
}
.registration-form fieldset:nth-child(12) label:nth-child(n){
    display: block;
}
.registration-form p {
    padding:0;
    margin-bottom:20px;
    text-align: justify;
    width: 100%;
}

#btn-registrar{
    margin:0px auto;
    width: 100px;
    padding:5px;
    font-size: 13px;
    border:none;
    background-color: #15c;
    color:#fff;

}
#btn-registrar:hover{
    box-shadow: 2px 2px #000;
    border-radius: 5px;
}

